@using Jmelosegui.Mvc.Googlemap
@{
    ViewBag.PageTitle = ViewContext.RouteData.Values["controller"] + ": " + @ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@ViewBag.Title</h3>
<div class="example">
    @RenderBody()
    @(Html.Partial("_CodeViewer"))
</div>

@section scripts
{
    

    @(Html.GoogleMap().ScriptRegistrar())

    <script type='text/javascript'>

        const elements = document.querySelectorAll('#myTab a');
        
        Array.prototype.forEach.call(elements, function(el, i){
            el.addEventListener('shown.bs.tab', function (e) {
                if (e.target.dataset.bsTarget !== '#description') {
                    var request = new XMLHttpRequest();
                    request.open('GET', e.target.dataset.url, true);

                    request.onload = function() {
                      if (this.status >= 200 && this.status < 400) {                          
                          const target = document.getElementById(e.target.dataset.bsTarget.substring(1));
                          target.innerHTML = this.response

                          prettyPrint();
                      } 
                    };

                    request.send();
                }
            });
        });

        prettyPrint();

    </script>
    
    @RenderSection("scripts", required: false)
}